.projects-page-ctn {
    width: 100%;
    height: auto;
    /* background-color: darkgoldenrod; */
}

.projects-page-title-div {
    /* background-color: darkblue; */
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #06C167;
}

.projects {
    /* background-color: blanchedalmond; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.projectDiv {
    width: 550px;
    height: 20%;
    background-color: rgb(96, 21, 167);
    border-radius: 20px 20px 5px 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 2.5rem;
}

.projectDiv h2 {
    /* background-color: darkblue; */
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 0.5rem;
}


.projectDiv img {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: 1s;
}

.projectDiv h4 {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

.projectDiv p {
    /* background-color: darkred; */
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
    margin-bottom: 1rem;
}

.projectDiv a {
    color: #06C167;
    text-decoration: underline;
}

