.about {
    /* background-color: rgb(29, 3, 57); */
    width: 100%;
    height: 100vh;
    margin-bottom: 10rem;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(96, 21, 167);
    width: 30%;
    height: 80%;
    margin-right: 2rem;
    border-radius: 20px;
}

.skills-title {
    /* background-color: purple; */
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.skills-list {
    /* background-color: plum; */
    width: 85%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card {
    /* background-color: darkblue; */
    width: 100%;
    height: 30%;
    margin: 0.5rem;
}

.skill-card-title {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid white;

}


.skill-card-skills {
    /* background-color: cadetblue; */
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.skill-li {
    /* background-color: tomato; */
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.3rem;
    color: white;
}

.i {
    font-size: 3rem;
    width: 100%;
}



.skillH4 {
    color: white;
    text-align: center;
}

.about-right {
    height: 80%;
    width: 35%;
    background-color: rgb(54, 7, 104);
    border-radius: 20px;
    margin-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.about-title {
    display: flex;
    align-items: flex-end;
    /* background-color: aqua; */
    width: 80%;
    height: 100px;
    margin-bottom: 2rem;
}

.about-title-text {
    color: white;
    font-size: 35px;
}

.about-content-div {
    height: 25px;
    width: 100%;
    /* background-color: beige; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}


.tabs-div {
    /* background-color: sandybrown; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.tabs {
    background-color: rgb(77, 17, 134);
    height: 100%;
    width: 32%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.tabs:hover {
    box-shadow: inset 200px 0 0 0 #06C167;
} 

.activeTab {
    display: contents;
    background-color: rgb(96, 21, 167);
    height: 100%;
    width: 33%;
    color: #06C167;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #06C167 1px solid;
}

.activeTab:hover {
    box-shadow: none;
}

.about-text {
    background-color:rgb(96, 21, 167);
    width: 100%;
    height: auto;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.text {
    display: none;
}

.activeText {
    display: contents;
    color: white;
}

.activeText h4 {
    font-size: 25px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}


.activeText p {
    text-align: center;
    margin: 0 1rem 1rem 1rem;
}


.activeText img {
    /* background-color: #06C167; */
    width: 250px;
    height: 250px;
}


@media screen and (max-width: 1000px) {
    .about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1rem;
        height: 110vh;
    }

    .skills-title {
        height: 2.5rem;
    }

    .skills-title-text {
        font-size: 2rem;
    }

    .skill-title-text {
        font-size: 1rem;
    }

    .skill-li {
        height: 0.5rem;
    }

    .skillH4 {
        font-size: 0.8rem;
        
    }

    .skills-left {
        width: 70%;
        height: 45vh;
        margin: 0;
        margin-bottom: 2rem;   
    }

    .skill-li {
        align-content: flex-start;
    }

    .i {
        font-size: 1.4rem;
    }

    .about-right {
        height: 40vh;
        width: 70%;
        margin: 0;
    }


    .about-title {
        font-size: 2rem;
        height: 4rem;
    }

    .about-title-text {
        font-size: 2rem;
    }

    .tabs-div {
        height: 2.5rem;
    }

    .activeText h4 {
        font-size: 20px;
        margin-bottom: 1rem;
        height: 2rem;
    }

    .activeText p {
        font-size: 15px;
        height: auto;
    }

    .activeText img {
        height: 100px;
        width: 100px;
    }

    .about-text {
        height: auto;
    }
}


@media screen and (max-width: 613px) {

    .about {
        height: 125vh;
    }

    .skills-left {
        margin-top: 1rem;
        margin-bottom: 4rem;   
    }

    .about-title-text {
        /* background-color: #06C167; */
        font-size: 1.7rem;
    }

    .about-title {
        height: 3rem;
    }

    .tabs {
        font-size: 0.8rem;
    }

    .skills-left {
        height: 47vh;
    }

}


@media screen and (max-width: 466px) {
    .about-title-text {
        /* background-color: #06C167; */
        font-size: 1.2rem;
    }

    .about-title {
        height: 2rem;
    }

    .tabs {
        font-size: 0.8rem;
    }

    .skills-left {
        height: 47vh;
        min-width: 320px;
    }

    .about-right {
        min-width: 320px;
    }
    

}


@media  screen and (max-height:620px){
    .about {
        height: 150vh;
    }

    .skills-left .about-right { 
        height: 100vh;

    }

}